/* colors */
$primary-color: #444444;
$dark-color: #000000;
$light-color: #FFFFFF;
$special-color: #68B738;
$decoration-color: #D9D9D9;
$line-color: #E6E6E6;
$pseudo-color: #F2F2F2;

$background-primary: #FFFFFF;
$background-secondary: #F2F2F2;
$background-special: #68B738;

$icons-primary: #000000;

/* fonts */
$font-primary: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

/* device width */
$mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1439px;
$desktop-width: 1440px;
